node_modules
.DS_Store

/.cache
/.wrangler
/build
/app/build
/public/build/
/public/_dev
/app/public/build

.env
.env.*
.dev.vars

package-lock.json
yarn.lock
pnpm-lock.yaml

/extensions/*/dist

.wrangler

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock

# Ignore react-router
.react-router
